n8n-workflow/verify-email.json
{
  "name": "Verify-Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -288
      ],
      "id": "195eac21-7a04-44e0-a5e0-2b30d78165c9",
      "name": "Webhook",
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "url": "https://api.quickemailverification.com/v1/verify",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.QUICKEMAIL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -352
      ],
      "id": "21b1a242-e51d-46fa-abe3-1f1f9606017d",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Details sent successfully.\",\n  \"email\": \"={{ $json.email }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        -400
      ],
      "id": "65027394-dbfe-4bcc-89c3-363c297fa64f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Invalid email address. Please check and try again.\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "fd0ea910-ae61-4938-add3-a52e025cd09c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "https://rapid-email-verifier.fly.dev/api/validate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -288
      ],
      "id": "6e31c62c-d5dd-43ff-a2f8-6ec626e1eef1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ae69a25-5acb-411c-aa61-c384b450dace",
              "leftValue": "={{ $json.validations.syntax }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d904df7f-4c10-43c9-ae17-ed7989212c79",
              "leftValue": "={{ $json.validations.domain_exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "dbe1bdd3-548c-40ba-8fb3-70894299409a",
              "leftValue": "={{ $json.validations.mx_records }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -288
      ],
      "id": "a093277c-0f3f-46b8-8c9b-6dab90833457",
      "name": "Check if email = valid",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94623693-89d2-4e0c-92b2-e4bd4fc91d57",
              "leftValue": "={{ $json.safe_to_send }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -352
      ],
      "id": "38bae66b-8f35-4e64-bbdd-4d39c10209ec",
      "name": "Check: Safe to Send"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check: Safe to Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Check if email = valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if email = valid": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Safe to Send": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c1eb789-042f-4cde-9fba-751b1f5cbb12",
  "meta": {},
  "tags": []
}
